body {
    height: 100%;
    overflow: hidden;
    user-select: none;
    o-menubar {
        x-menubar {
            -webkit-app-region: drag;   
        }
    }
    o-content {
        o-sidebar {
            .box {
                height: 100px;
                width: 300px;
                padding-top: 5px;
                padding-bottom: 20px;
                    cursor: pointer !important;
                .title {
                    font-weight: bold;
                    font-size: 24px;
                    cursor: pointer !important;
                    padding-left: 15px;
                }
                .text {
                    cursor: pointer !important;
                    padding-left: 15px;
                }
            }
        }
        x-button {
            height: 50px;
        }
        .add-server {
            
        }
        .create-local {
            
        }
        .about {
                            
        }
    }
    .fullwidth {
        width: 100%;
        min-width: 100%;
    }
}