body {
    height: 100%;
    overflow: hidden;
    user-select: none;
    o-menubar {
        z-index: 100;
        x-menubar {
            -webkit-app-region: drag;   
        }
    }
    o-loader {
        width: 888px;
        height: 666px;
    }
    o-content {
        z-index: 1;
        o-sidebar {
            .div {
                ::-webkit-scrollbar {
                    width: 1px;
                }
            }
            .box {
                height: 100px;
                padding-top: 5px;
                padding-bottom: 20px;
                    cursor: pointer !important;
                .title {
                    font-weight: bold;
                    font-size: 24px;
                    cursor: pointer !important;
                    padding-left: 15px;
                }
                .text {
                    cursor: pointer !important;
                    padding-left: 15px;
                }
            }
        }
        x-button {
            height: 50px;
        }
    }
    .fullwidth {
        width: 100%;
        min-width: 100%;
    }  
}



