@import "colors.less";

.observo-title {
    font-family: 'Audiowide', cursive;
}
html {
    height: 100%
}
body {
    display: flex;
    flex-direction: column;
}
@import "theme/dark/dark.less";
@import "theme/default/default.less";